Consigna:
def userdata(User_id : str ): Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.
Ejemplo de retorno: {"Usuario X" : us213ndjss09sdf, "Dinero gastado": 200 USD, "% de recomendación": 20%, "cantidad de items": 5}

In [1]:
import json
import pandas as pd
import gzip
import ast
from datetime import datetime
import numpy as np

In [ ]:
''' Lectura de Archivos '''
# Se abren los 3 dataframes por que el data frame de la función necesita por lo menos un dato de cada uno

df_steam_games = r"C:\Users\Usuario\Henry\Victor\dataset_endpoint_2.parquet"
df_steam_games = pd.read_parquet(df_steam_games )
df_steam_games

In [3]:
df_steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253698 entries, 0 to 253697
Data columns (total 4 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   item_id                 253698 non-null  int64
 1   user_id                 253698 non-null  object
 2   cantidad total gastado  253698 non-null  float64
 3   percentage_true         253698 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 7.7+ MB

In [ ]:
df_user_reviews = r"C:\Users\Usuario\Henry\PI1_ML\DataSet-EDAs\df_user_reviews.parquet"
df_user_reviews = pd.read_parquet(df_user_reviews)
df_user_reviews

In [ ]:
df_users_items = r"C:\Users\Usuario\Henry\PI1_ML\DataSet-EDAs\df_users_items.parquet"
df_users_items = pd.read_parquet(df_users_items)
df_users_items

In [ ]:
# Inicio el dataframe de la función por user_items

df_userdata = df_users_items
df_userdata

In [ ]:
df_userdata.info()

In [ ]:
# convierto user_id a str para entrar a la función

In [117]:
# como no me convierte a stn borrare valores nulos

df_userdata['user_id'] = df_userdata['user_id'].fillna('').astype(str)

In [ ]:
df_userdata.info()

In [103]:


df_userdata['user_id'] = df_userdata['user_id'].astype(str, errors='ignore')

In [124]:
# Verificar tipos de datos en la columna
df_userdata['user_id'].apply(type)

0          <class 'str'>
1          <class 'str'>
2          <class 'str'>
3          <class 'str'>
4          <class 'str'>
               ...
5169807    <class 'str'>
5169829    <class 'str'>
5170006    <class 'str'>
5170007    <class 'str'>
5170014    <class 'str'>
Name: user_id, Length: 5063858, dtype: object

In [172]:
df_userdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3856556 entries, 0 to 3856555
Data columns (total 5 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 object
 1   item_id                 object
 2   cantidad total gastado  float64
 3   percentage_true         object
 4   user_ida                object
dtypes: float64(1), object(4)
memory usage: 147.1+ MB

In [173]:
df_userdata['user_id'] = df_userdata['user_id'].apply(lambda x: '{:.0f}'.format(x) if isinstance(x, (int, float)) else str(x))

In [177]:
# reviso si todo se puede pasar a str y si no lo borro

df_userdata = df_userdata[pd.to_numeric(df_userdata['user_id'], errors='coerce').notna() | df_userdata['user_id'].apply(lambda x: isinstance(x, str))]

In [178]:
df_userdata['user_id'] = df_userdata['user_id'].astype(str)

In [179]:
df_userdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3856556 entries, 0 to 3856555
Data columns (total 5 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 object
 1   item_id                 object
 2   cantidad total gastado  float64
 3   percentage_true         object
 4   user_ida                object
dtypes: float64(1), object(4)
memory usage: 147.1+ MB

In [175]:
# Cambio el tipo de playtime forever de float 63 a float 32 por espacio

#df_userdata['playtime_forever'] = df_userdata['playtime_forever'].astype('float32')

In [176]:
df_userdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3856556 entries, 0 to 3856555
Data columns (total 5 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 object
 1   item_id                 object
 2   cantidad total gastado  float64
 3   percentage_true         object
 4   user_ida                object
dtypes: float64(1), object(4)
memory usage: 147.1+ MB

In [127]:
# De este df solo necesito user_id, item_id, 'items_count', item_name y play time_forever, así que

columnas_borrar = [ 'user_url', 'playtime_2weeks'] 

df_userdata = df_userdata.drop(columnas_borrar,axis=1)

In [ ]:
df_userdata.head()

In [ ]:
# Reviso Stam_Games pues lo relacionare con el precio 
df_steam_games.head()

In [ ]:
# De steam_games solo necesito item_id y price asi que borro las demás columnas
# Item_id = app_name

columnas_borrar2 = ['publisher', 'genres', 'url', 'release_date', 'reviews_url', 'specs', 'id', "early_access", 'developer', 'release_year'] 

df_steam_games = df_steam_games .drop(columnas_borrar2, axis=1)

df_steam_games

In [ ]:
df_steam_games.head()

In [132]:
# Cambio nombre de columna app_name por "item_name" para que pueda hacer el match

df_steam_games = df_steam_games.rename(columns={'app_name': 'item_name'})

In [ ]:
# reviso la columna price de steam-games

df_steam_games.info()

In [134]:
# Modifico de una vez la columna price para que se pueda sumar luego

#df_steam_games['price'] = pd.to_numeric(df_steam_games['price'], errors='coerce')
#df_steam_games = df_steam_games.dropna(subset=['price'])

In [23]:
# Como no me dejó convertir Convierto de float 64 a float 32 por temas de espacio, me toca  crear arreglo y convertirlo luego
#así no me djejo:  df_steam_games['price'] .astype(np.float32)

# rreglo = df_steam_games['price'] .to_numpy()

In [24]:
# convierto el arreglo en float 32

#df_float32 = arreglo.astype('float32')

In [25]:
#df_float32

array([4.99, 4.99, 4.99, ..., 4.99, 4.99, 4.99], dtype=float32)

In [26]:
# Como ya tengo arreglo en float 32, voy a cambar la columna price por esta en steam_games

#df_steam_games['price'] = df_float32

In [135]:
# Relaciono steam_games con userdata a travez de item_name para aumentar la coloumna  precio al dataframe

df_userdata = pd.merge(df_userdata, df_steam_games[['item_name', 'price']], on='item_name', how='left')

In [ ]:
df_userdata.info()

In [137]:
df_userdata.shape

(32747646, 6)

In [ ]:
df_userdata.info()

In [139]:
df_userdata = df_userdata.dropna()

In [ ]:
df_userdata.info()

In [141]:
# retiro duplicados

df_userdata = df_userdata.drop_duplicates()

In [ ]:
df_userdata.info()

In [143]:
# solo necesito item_id y recommend  dereviewspor lo tanto borraré las otras columnas

columnas_borrar3 = ['user_id', 'user_url', 'posted', 'sentiment_analysis' ]

In [144]:
df_user_reviews = df_user_reviews.drop(columnas_borrar3, axis=1)

In [ ]:
df_user_reviews.head()

In [ ]:
df_user_reviews.info()

In [147]:
df_user_reviews.shape

(59305, 2)

In [148]:
df_user_reviews = df_user_reviews.dropna()

In [149]:
df_user_reviews = df_user_reviews.drop_duplicates()

In [ ]:
df_user_reviews.head()

In [ ]:
df_userdata.head()

In [152]:
# Solo queda faltando la columna recommend de user reviews y hare la relación a travez de item_id}

df_userdata = pd.merge(df_userdata, df_user_reviews[['item_id', 'recommend']], on='item_id', how='left')

In [ ]:
df_userdata.info()

In [154]:
# Paso el tipo de price de object a float
df_userdata['price'] = df_userdata['price'].astype(float)

In [ ]:
df_userdata.info()

In [156]:
# Ahora para la función necesito columna costo que creare multiplicando playtime forever y price y luego hago la columna del porcentaje

df_userdata['cantidad total gastado'] = df_userdata['playtime_forever'] * df_userdata['price']

In [ ]:
df_userdata.head()

In [158]:
# Tambien necesito columna del porcentaje (Hago columna del porcentaje de registros del mismo item con true) para eso primero cantidad de registros por item_id y tiene une excepcion para que no divida por cero

porcentaje_true = (df_userdata['recommend'].mean() * 100).round(2)

In [159]:
df_userdata['percentage_true'] = porcentaje_true

In [ ]:
df_userdata.info()
# Claramente la columna funciona

In [161]:
# Borro las columnas que no me sirven o que ya utilice

columnas_borrar4 = ["items_count", "item_name", "playtime_forever", "price", "recommend"]

In [162]:
df_userdata = df_userdata.drop(columnas_borrar4, axis=1)

In [ ]:
df_userdata.info()

In [164]:
#ahora tengo que cambiar el tipo del porcentaje de float 64 a str

df_userdata['percentage_true'] = df_userdata['percentage_true'].astype(str)

In [ ]:
df_userdata.info()

In [166]:
# comvierto user_id de obj a str que es lo que solicita api

df_userdata['user_id'] = df_userdata['user_id'].astype(str)

In [ ]:
df_userdata.info()

In [ ]:
df_userdata.to_parquet('df_userdata.parquet')
df_userdata