In [ ]:
pip install pyarrow

In [ ]:
pip install fastparquet

In [3]:
import json
import pandas as pd
import gzip
import ast
from datetime import datetime
import py

Consigna:
def developer(desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora

In [4]:
''' Lectura de Archivos '''
# Solo steam_games

' Lectura de Archivos '

In [ ]:
# Ubicación local archivo steam games https://github.com/MarceCorreal/PI1_MachineLearning/blob/main/Funciones/Developer/df_developer.parquet
df_steam_games = r"C:\Users\Usuario\Henry\PI1_ML\DataSet-EDAs\df_steam_games.parquet" 
df_steam_games = pd.read_parquet(df_steam_games )
df_steam_games

In [77]:
''' Alisto df_steam_games '''

# Solo necesito steam Games [genres, developer, release_year]

' Alisto df_steam_games '

In [ ]:
df_steam_games.info()

In [12]:
columnas_borrar_steam = ['genres','publisher','app_name','url','release_date','reviews_url','specs']
df_developer = df_steam_games.drop(columnas_borrar_steam, axis=1)
df_developer

       price  early_access      id      developer  release_year
88310   4.99           0.0  761140      Kotoshiro          2018
88310   4.99           0.0  761140      Kotoshiro          2018
88310   4.99           0.0  761140      Kotoshiro          2018
88310   4.99           0.0  761140      Kotoshiro          2018
88310   4.99           0.0  761140      Kotoshiro          2018
...      ...           ...     ...            ...           ...
120443  4.99           0.0  658870  xropi,stev3ns          2017
120443  4.99           0.0  658870  xropi,stev3ns          2017
120443  4.99           0.0  658870  xropi,stev3ns          2017
120443  4.99           0.0  658870  xropi,stev3ns          2017
120443  4.99           0.0  658870  xropi,stev3ns          2017

[221161 rows x 5 columns]

In [ ]:
df_developer.head()

# Tener en cuenta que la columna price queda objeto por que hay datos no numericos como freetoplay

In [15]:
df_developer.shape

(221161, 5)

In [ ]:
# Reviso los elementos unicos de la columna price que es rara y veo que los gratis dice "Free to Play"  o "Free" q es str

elementos_unicos_developer = df_developer['price'].unique()
print("Elementos únicos en la columna 'price':", elementos_unicos_developer)

In [ ]:
df_developer.info()

In [18]:
df_developer.shape

(221161, 5)

In [19]:
df_developer.shape

(221161, 5)

In [20]:
# Borrar Duplicados
df_developer = df_developer.drop_duplicates()

In [21]:
df_developer.shape

(21193, 5)

In [ ]:
df_developer.head()

In [ ]:
    df_developer_trabajo = df_developer.groupby(['developer','release_year']).agg(items_total=('id','count'),items_free =('price', lambda x: (x=='Free to Play').sum())).reset_index()
    df_developer_trabajo

In [24]:
    # Generar columna porcentaje   
    
    df_developer_trabajo['porcentaje'] =  (df_developer_trabajo['items_free']/df_developer_trabajo['items_total'])*100
    
    # Aplico formato de porcentaje a cada elemento

    df_developer_trabajo['porcentaje'] = df_developer_trabajo['porcentaje'].map('{:.2f}%'.format)

In [26]:
# Guardo el data set resultante como df_developer

df_developer = df_developer_trabajo
    
# Dirección de  Respuesto_Developer 

df_developer.to_parquet('df_developer.parquet')
df_developer

                developer  release_year  items_total  items_free porcentaje
0             +7 Software          2016            1           0      0.00%
1      +Mpact Games, LLC.          2017            1           0      0.00%
2                 .M.Y.W.          2016            1           0      0.00%
3               .ez Games          2017            1           0      0.00%
4          07th Expansion          2015            2           0      0.00%
...                   ...           ...          ...         ...        ...
12981                  致意          2017            2           0      0.00%
12982                萌石游戏          2017            1           0      0.00%
12983        高考恋爱委员会,Days          2015            1           0      0.00%
12984         高考恋爱委员会,橘子班          2015            1           0      0.00%
12985         高考恋爱委员会,橘子班          2017            1           0      0.00%

[12986 rows x 5 columns]