In [162]:
# Importación de Bibliotecas

import json
import pandas as pd
import gzip
import ast
from datetime import datetime
import numpy as np

In [163]:
 # Hago función para descomprimir el archivo en datos
 
 def abrir_archivo_comprimido (nombre_archivo=r"C:\Users\Usuario\Henry\PI1_MLOps\Consigna y Edas\steam_games.json.gz"):
   try:
      with gzip.open('steam_games','rt', encoding='utf-8') as archivo_comprimido:
         datos=  json.load(archivo_comprimido)
                     
      return dataframe
       
       # Añado un bloque try y except para manejar excepciones como FileNotFoundError y otros errores que puedan ocurrir al abrir el archivo.

   except FileNotFoundError:
        print(f"El archivo '{steam_games}' no se encontró.")
   except Exception   as e:
        print(f"Error al abrir el archivo comprimido: {str(e)}")

In [167]:
# Convierto los datos JSON en un DataFrame de Pandas

df_steam_games = pd.read_json(r"C:\Users\Usuario\Henry\PI1_MachineLearning\Consignas y Edas\steam_games.json.gz" , lines=True)

In [ ]:
df_steam_games.info()

# Puedo ver que todas las columnas son de tipo objeto menor early_access y ID
# Es un archivo grande 11.9 MB

In [169]:
df_steam_games.shape

(120445, 13)

In [ ]:
df_steam_games.head()

In [171]:
# Lo primero es eliminar los None y vacios

df_steam_games = df_steam_games.dropna()

In [ ]:
df_steam_games.head()

In [173]:
# Borro columna title que está repetida con app_name

df_steam_games = df_steam_games.drop('title', axis=1)

In [174]:
# Borro columna tags que está repetida con genres

df_steam_games = df_steam_games.drop('tags', axis=1)

In [175]:
df_steam_games.shape
# Podemos  ver que habian 120445-2250 = 118.195 filas con None ó vacios

(22530, 11)

In [ ]:
df_steam_games.info()

In [ ]:
# Ahora toca desanidar columna genres y specs, para eso uso explode

df_steam_games = df_steam_games.explode('genres')
df_steam_games

In [177]:
# Exploto columna specs

df_steam_games = df_steam_games.explode("specs")

In [ ]:
df_steam_games.info()

In [179]:
# Se tienen que manejar los valores no numéricos por que no deja, los busco y reemplazo con nan para borrarlos luego cambio a int

df_steam_games['price'] = pd.to_numeric(df_steam_games['price'], errors='coerce')

In [180]:
df_steam_games = df_steam_games.dropna()

In [ ]:
df_steam_games.info()

In [182]:
# Convertir la columna a tipo strn or que no pude a numero
df_steam_games['price'] = df_steam_games['price'].astype(str)

In [183]:
# Primero verifico el tipo de dato que tiene la columna release_date	

Tipo_de_dato_release_date = df_steam_games['release_date'].dtype

print("Tipo de datos de la columna 'columna_nombre':", Tipo_de_dato_release_date)

Tipo de datos de la columna 'columna_nombre': object

In [184]:
#convertir el tipo de dato de objeto a fecha, pero como hay valores que no pueden ser convertidoss, primero los valido

df_steam_games['release_date'] = pd.to_datetime(df_steam_games['release_date'], errors='coerce')

In [185]:
#Convierto el tipo de dato de objeto a fecha
df_steam_games['release_date'] = pd.to_datetime(df_steam_games['release_date'])

In [ ]:
df_steam_games.info()

In [187]:
#Ahora lo convierto al formato indicado en el readme AAAA-MM-DD

df_steam_games['release_date'] = pd.to_datetime(df_steam_games['release_date'], format='%Y/%m/%d')

In [189]:
# Creo la columna con el año
df_steam_games['release_year'] = df_steam_games['release_date'].dt.year

In [ ]:
df_steam_games

In [191]:
#como hay datos que no son numero sino raros, pues elimino esas filas
df_steam_games = df_steam_games.dropna(subset=['release_year'])

In [ ]:
# convierto columna release year en int para quitarle el punto convierto en int
df_steam_games['release_year'] = df_steam_games['release_year'].astype(int)

In [ ]:
df_steam_games

In [ ]:
# Por si acaso se necesita voy a convertir columna id en int

df_steam_games['id'] = df_steam_games['id'].astype(int)

In [ ]:
df_steam_games

In [196]:
# Dejaré todos los df en parquet por temas de espacio

df_steam_games.to_parquet('df_steam_games.parquet')