In [30]:
# Importaciones de bibliotecas necesarias
import pandas as pd  # Pandas para manipulación de datos tabulares
import json  # Módulo para trabajar con JSON
import ast  # Módulo para evaluar expresiones literales de Python
import re  # Módulo para trabajar con expresiones regulares
from textblob import TextBlob # Importa la clase TextBlob desde la biblioteca TextBlob
import nltk # Importa la biblioteca nltk (Natural Language Toolkit)
import csv # Importa el módulo csv en Python

# Habilita la recarga automática de módulos antes de ejecutar una celda
%load_ext autoreload
%autoreload 2

# Importa el módulo de advertencias y configura para ignorar todas las advertencias
import warnings
warnings.filterwarnings("ignore")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
'''  El objetivo del modelo de recomendación es generar una lista de 5 juegos 
al proporcionar el nombre de un juego o el ID de un usuario. 
Esta recomendación se basa en un puntaje que debe ser determinado. 
Para lograr esto, se examinan los dataframes df_reviews y df_items, los cuales fueron analizados previamente.'''

In [ ]:
''' En esteNotebook se realiza el Análisis Exploratorio de los datos de los tres conjuntos de datos de lla consigna
ya limpios para elegir  las variables que serán usadas para entrenar el modelo de recomendación solicitado.
Esto reducirá el tamaño de los df y solo incluirá los datos necesarios'''

In [ ]:
# Abro archivo user_reviewss y lo renombro df_reviews para diferenciarlo de los APIs

ruta_df_user_reviews = r"C:\Users\Usuario\Henry\PI1_ML\DataSet-EDAs\df_user_reviews.parquet"
df_reviews = pd.read_parquet(ruta_df_user_reviews)
df_reviews.head()

In [36]:
# Renombro columnas para saber que son originales y no modificadas

df_reviews = df_reviews.rename(columns={'posted': 'reviews_date'})
df_reviews = df_reviews.rename(columns={'item_id': 'reviews_item_id'})

df_reviews.head()

,user_id,user_url,reviews_date,reviews_item_id,recommend,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250,True,2
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted July 15, 2011.",22200,True,2
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted April 21, 2011.",43110,True,2
3,js41637,http://steamcommunity.com/id/js41637,"Posted June 24, 2014.",251610,True,2
4,js41637,http://steamcommunity.com/id/js41637,"Posted September 8, 2013.",227300,True,0