In [ ]:
pip install pandas

In [ ]:
pip install TextBlob

In [2]:
# Bibliotecas

import json
import pandas as pd
import gzip
import ast
from datetime import datetime
import numpy as np
import csv
import time
import string
from textblob import TextBlob

In [3]:
 # Hago función para descomprimir el archivo en datos
 
 def abrir_archivo_comprimido(nombre_archivo=r"C:\Users\Usuario\Henry\PI1_ML\Modelo_Aprendizaje_Automático\EDA_Datos_Modelo\user_reviews.json.gz"):  
   try:
      with gzip.open('user_reviews','rt', encoding='utf-8') as archivo_comprimido:
         datos=  json.load(archivo_comprimido)
                     
      return dataframe
       
       # Añado un bloque try y except para manejar excepciones como FileNotFoundError y otros errores que puedan ocurrir al abrir el archivo.

   except FileNotFoundError:
        print(f"El archivo '{user_reviews}' no se encontró.")
   except Exception   as e:
        print(f"Error al abrir el archivo comprimido: {str(e)}")

In [4]:
# Desarrollo función leer_Json_gzip() que lee los archivos 'comprimidos.json.gz` y devuelve una lista de diccionarios Python.
def leer_json_gzip(user_reviews):

    # Abrir el archivo users_items.json.gz en modo de lectura y decodificamos el contenido del archivo.
    with gzip.open(user_reviews, 'rt', encoding='utf-8') as miArchivo:

        # Recorremos el contenido del archivo y evaluamos cada línea como una expresión Python.
        # El resultado de la evaluación es un diccionario Python.
        # La función strip() elimina los espacios en blanco al principio y al final de la línea.
        return [ast.literal_eval(line.strip()) for line in miArchivo]
    #Usamos ast.literal_eval para convertir cada linea en un diccionario y lo agregamos a la lista

ast.literal_eval es necesario porque los datos en el archivo parecen estar en formato JSON pero almacenados como cadenas en lugar de objetos de Python. literal_eval es más seguro que eval ya que solo evalúa expresiones literales de Python y evita la ejecución de código malicioso.

In [5]:
#Como son cadenas debo recorrerlo para llenar el archivo

datos = []
for i  in gzip.open('user_reviews.json.gz'):
    datos.append(ast.literal_eval(i.decode('utf-8')))

df_user_reviews= pd.DataFrame(datos)

df_user_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [6]:
df_user_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [7]:
# Dado que veo la columna reviews anidadada toca usar explode para desanidarla

df_user_reviews_exploded = df_user_reviews.explode('reviews')

In [ ]:
df_user_reviews_exploded.info()

In [ ]:
df_user_reviews_exploded

In [10]:
df_user_reviews_desanidado = pd.json_normalize(df_user_reviews_exploded['reviews'])

In [ ]:
df_user_reviews_desanidado

In [ ]:
df_user_reviews_desanidado.head()

In [26]:
# solo voy a dejar review e item_id que necesito para el modelo y borro lo demás

columnas_a_eliminar = ['funny', 'posted', 'last_edited', 'review', 'recommend']

df_user_reviews_desanidado = df_user_reviews_desanidado.drop(columns=columnas_a_eliminar)

In [27]:
df_user_reviews_desanidado.head()

  item_id                                          helpful
0    1250                                   No ratings yet
1   22200                                   No ratings yet
2   43110                                   No ratings yet
3  251610  15 of 20 people (75%) found this review helpful
4  227300     0 of 1 people (0%) found this review helpful

In [41]:
# Guardo el dataframe limpio con análisis de sentimiento

df_user_reviews_desanidado.to_parquet('df_user_reviews_helpul.parquet')